body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f0e4;
}

.menu-section {
    padding: 60px 7vw;
    text-align: center;
}

.menu-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.menu-tagline {
    color: brown;
    margin-bottom: 30px;
}

/* Category Buttons */
.menu-categories {
    margin-bottom: 40px;
}

.menu-categories button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #3e3f29;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-categories button:hover,
.menu-categories button.active {
    background-color: brown;
}

/* Menu Grid */
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* Menu Card */
.menu-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.menu-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-card h3 {
    margin: 15px 0 5px;
}

.menu-card p {
    font-size: 13px;
    color: #555;
}

.menu-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: brown;
}



/* Mobile */
@media (max-width: 600px) {
    .menu-section h1 {
        font-size: 28px;
    }
}
